button {
	background-color: transparent;
	color: white;
	font-weight: 700;
	border-color: transparent;
	padding-left: 7px;
	padding-right: 7px;
	cursor: pointer;
}

button:hover {
	color: var(--color-netflix);
}
