.contenedor-titulo {
	color: white;
	background-color: var(--color-netflix-transparente);
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 1px;
	width: fit-content;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.contenedor-series {
	color: white;
	background-color: #ffffff3f;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.espaciador {
	padding: 20px;
}